body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to left,#cdcaca, #d8cece, #fcfbfb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}