@font-face {
    font-family: 'Akaya'; /* Name your font family */
    src: url('Akaya/AkayaTelivigala-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }

* {
    font-family: 'Akaya';
}

body {
    background: radial-gradient(circle at 10% 20%, rgb(255, 197, 118) 0%, rgb(254, 106, 103) 47.7%, rgb(240, 23, 23) 92.3%);
    background-size: cover;
    display: flex;
    margin: 0;
    height: auto;
    justify-content: center;
}

.header {
    font-size: 40px;
    margin-top: 50px;
    border-radius: 20px;
    color: #FFF;
    margin: 50px auto;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 8px 10px 5px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.A, .B, .C, .D, .E, .F, .G, .H, .I, .J {
    font-size: 24px;
    background: #FFF;
    padding: 25px;
    margin-top: 10px;
    border-radius: 20px;
    color: #000;
}

.A2, .B4, .C5, .D5, .E2, .F3, .G4, .H5, .I3, .J5 {
    background-color: greenyellow;
}