@font-face {
    font-family: 'Akaya'; /* Name your font family */
    src: url('Akaya/AkayaTelivigala-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya';
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #01762E;
    background: radial-gradient(circle at 50.4% 50.5%, rgb(251, 32, 86) 0%, rgb(135, 2, 35) 90%);
    color: #2E2E2E;
}

.container {
    width: 95%;
    height: 95%;
    background: linear-gradient( rgb(182, 244, 146), rgb(51, 139, 147));;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(36, 1, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 24px;
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    color: #000;
    border: solid whitesmoke 2px;
}



img {
    width: 180px;
    height: 160px;
    border-radius: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options button {
    font-family: akaya;
    width: 240px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: linear-gradient(135deg, rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    border: solid rgb(0, 0, 0) 3px;
    box-shadow: 2px 2px 2px;
}

.options button:hover {
    transform: scale(1.05);
    background-color: #FFD100;
}

@media screen and (max-height: 540px) {
    .options {
        width: 80%;
        height: 80%;
        padding: 10px;
    }
}

/* for iphone */
@media screen and (max-width: 479px) {
    .container {
        width: 95%;
        height: 90%;
        border-radius: 30px;
        padding: 15px;
    }

    .h2 {
        font-size: 22px;
        margin-top: 15px;
        padding: 8px;
    }

    .emoji img {
        width: 240px;
        height: 240px;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .options button {
        font-size: 24px;
        padding: 10px;
    }

    body, html {
        font-size: 16px;
    }
}


