@font-face {
    font-family: 'Akaya'; /* Name your font family */
    src: url('Akaya/AkayaTelivigala-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya';
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #01762E;
    background-image: url('styles/black.webp');
    color: #2E2E2E;
}

.container {
    width: 450px;
    height: 550px;
    background: linear-gradient(#009739, #005621);
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgb(111, 8, 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
}

.header h2 {
    font-size: 24px;
    background: linear-gradient(#FFD100,#AC8D00);
    box-shadow: 4px 8px 45px #FFD100;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.emoji img {
    width: 150px;
    height: 130px;
    box-shadow: 4px 8px 50px rgb(36, 1, 1);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.options button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #2E2E2E;
    background: linear-gradient(#FFD100,#AC8D00);
    box-shadow: 4px 8px 25px #FFD100;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
}

.options button:hover {
    transform: scale(1.05);
    background-color: #FFD100;
}
/* for iphone */
@media screen and (max-width: 480px) {
    .container {
        width: 85%;
        height: 90%;
        border-radius: 20px;
        padding: 15px;
    }

    .header h2 {
        font-size: 22px;
        margin-top: 15px;
        padding: 8px;
    }

    .emoji img {
        width: 240px;
        height: 240px;
        border-radius: 20px;
    }

    .options button {
        font-size: 24px;
        padding: 10px;
    }

    body, html {
        font-size: 16px;
    }
}
